<section>
    <article class="post-header">
        <div class="post-header-container">
            <div class="return-options">
                <a routerLink="/posts"><span class="material-icons">arrow_back_ios</span> View Posts</a>
            </div>
            <div class="post-header-title">
                <h2>The waves are high & beautiful</h2>
            </div>
        </div>
    </article>
    <article class="post-summary">
        <div class="post-summary-container">
            <div class="summary">
                <p>
                    Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny pack nostrud. Photo booth anim 8-bit hella. Lorem ipsum dolor sit amet enatis sociosqu egestas sociis nibh. Ornare hendrerit fringilla interdum ridiculus consequat
                    euismod condimentum magna. Tortor sollicitudin pharetra mattis fames fusce placerat. Aenean dignissim consequat posuere quam laoreet in luctus mus, orci mattis sapien ullamcorper ad dictum massa quisque parturient, lacus inceptos et
                    ut nulla condimentum eget.
                </p>
            </div>
        </div>
    </article>
    <article class="post-comments">
        <div class="post-comments-title">
            <h3>Comments</h3>
        </div>
        <div class="comments-section">
            <app-comment-box></app-comment-box>
            <app-comment-box></app-comment-box>
            <app-comment-box></app-comment-box>
        </div>
        <div class="comment-form">
            <form>
                <div class="form-col">
                    <textarea name="comment" id="comment" rows="1" placeholder="write a comment"></textarea>
                </div>
                <div class="form-col">
                    <button type="submit" class="submit-button">Add</button>
                </div>
            </form>
        </div>
    </article>
</section>