<section class="category-selector">
    <article class="category-selector-container">
        <div class="category-selector-menu">
            <ul>
                <li class="category-selector-option active">All</li>
                <li class="category-selector-option">Travel</li>
                <li class="category-selector-option">Lifestyle</li>
                <li class="category-selector-option">Business</li>
                <li class="category-selector-option">Food</li>
                <li class="category-selector-option last">Work</li>
            </ul>
        </div>
    </article>
</section>